.subsidiary {
  padding-bottom: 20px;
  & .role_management_heading_search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 30px;
    & .role_management_heading {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #6a616f;
    }
    & .role_management_heading_s-csv {
      display: flex;
      align-items: center;
      & input,
      & .new_role {
        width: 184px;
        height: 56px;
        padding: 10px;
      }
      & input {
        background: #ffffff;
        border: 1px solid rgba(106, 97, 111, 0.2);
        box-sizing: border-box;
        border-radius: 10px;
        margin-right: 88px;
      }
      & .new_role {
        width: 176px;
        background: #e43270;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #ffffff;
      }
    }
  }
  & .subsidiary_heading {
    margin: 2.8rem 0 0 2.5rem;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #6a616f;
  }
  & .subsidiary_search_new_subsidiary {
    display: flex;
    justify-content: space-between;
    margin: 5.9rem 3rem 0 2.5rem;
    & input[type="search"] {
      width: 18.4rem;
      height: 5.6rem;
      border: 1px solid rgba(106, 97, 111, 0.2);
      border-radius: 10px;
      padding: 18px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #6a616f;
    }
    & .new_subsidiary {
      width: 21.5rem;
      height: 5.6rem;
      background: #e43270;
      border-radius: 10px;
      padding: 18px 25px 17px 17px;
      display: flex;
      align-items: center;
      & span {
        display: inline-block;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #ffffff;
      }
      & .add {
        color: #ffffff;
        margin-right: 10px;
      }
    }
  }
  & table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 62px;

    th {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      color: #6a616f;
    }
    td {
      padding: 21px 0 16px 0;
      &.subsidiary_parent {
        position: relative;
      }
    }
  }
  & ul.pagination_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2.4rem;
    & li {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 1px solid grey;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      margin-left: 10px;
      // &.disable {
      //   visibility: hidden;
      // }
      & span {
        font-size: 16px;
      }
      &.current {
        background: #e43270;
        & span {
          color: #fff;
        }
      }
    }
  }
}
