.subsidiaryCreatedpopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(194, 182, 182, 0.3);
  backdrop-filter: blur(3px);
  & .subsidiaryCreatedpopup_card {
    width: 757px;
    min-height: 585px;
    background: #ffffff;
    border-radius: 16px;
    padding-bottom: 10px;

    & .subsidiaryCreatedpopup_card_content {
      margin-top: 28px;
      padding-left: 56px;
      border-bottom: 1px solid rgba(106, 97, 111, 0.2);
      padding-bottom: 40px;

      & form {
        & .form_wrapper {
          display: flex;
          align-items: center;
          & .form_field {
            display: flex;
            flex-direction: column;
            margin-bottom: 21px;
            &:first-child {
              margin-right: 66px;
            }
            & input {
              width: 268px;
              height: 56px;
              background: #f3f3f3;
              border: 1px solid rgba(106, 97, 111, 0.2);
              border-radius: 10px;
              padding: 17px 18px 10px 22px;
              &.form_branch {
                width: 134px;
              }
            }
            & label {
              margin-bottom: 16px;
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 21px;
              color: #6a616f;
            }
          }
        }
        & .update {
          margin-top: 66px;
          & h3 {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            color: #6a616f;
            margin-bottom: 15px;
          }
          & h1 {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: #6a616f;
            margin-bottom: 7px;
          }
          & p {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            color: #6a616f;
          }
        }
      }
    }
  }
}
