*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

.dashboard__main-pmx {
  width: 397px !important;
  background-color: #191919; }
  .dashboard__main-pmx li.dashboard__item-pmx {
    border-radius: 1rem;
    width: 100% !important;
    height: 5rem;
    margin-bottom: 1rem;
    color: #FFFFFF; }
    .dashboard__main-pmx li.dashboard__item-pmx a {
      display: flex !important;
      align-items: center;
      width: 100% !important; }
    .dashboard__main-pmx li.dashboard__item-pmx span {
      font-style: normal;
      font-weight: 500;
      font-size: 2rem !important;
      line-height: 2.4rem; }
    .dashboard__main-pmx li.dashboard__item-pmx:first-of-type {
      background: #E43270; }

.dashboard {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #E5E5E5;
  padding: 20px;
  /* box-sizing: border-box; */ }
  .dashboard .dashboard_right {
    flex: 0 1 80%;
    background-color: #E5E5E5; }
  .dashboard .dashboard_left {
    flex: 0 1 20%;
    background: #191919;
    border-radius: 20px;
    /* height:100%; */
    margin-right: 40px;
    color: #fff;
    position: relative; }
    .dashboard .dashboard_left .dashboard_left_wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 1rem;
      /* box-sizing: border-box; */
      margin-top: 1rem; }
    .dashboard .dashboard_left .dashboard_left_top {
      border-bottom: 1px solid grey;
      padding: 2rem 3rem;
      font-style: normal;
      font-weight: bold;
      font-size: 2rem;
      line-height: 2.4rem; }
    .dashboard .dashboard_left ul.dashboard_left_middle {
      list-style-type: none; }
      .dashboard .dashboard_left ul.dashboard_left_middle li {
        display: flex;
        align-items: center;
        border-radius: 1rem;
        width: 100%;
        height: 5rem;
        margin-bottom: 1rem;
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        color: #FFFFFF;
        padding-left: .5rem; }
        .dashboard .dashboard_left ul.dashboard_left_middle li:first-of-type {
          background: #E43270; }
        .dashboard .dashboard_left ul.dashboard_left_middle li.settings_list-item {
          display: flex;
          padding: 0 10px; }
          .dashboard .dashboard_left ul.dashboard_left_middle li.settings_list-item .rotate {
            transform: rotate(90deg); }
          .dashboard .dashboard_left ul.dashboard_left_middle li.settings_list-item.grey {
            background-color: grey; }
          .dashboard .dashboard_left ul.dashboard_left_middle li.settings_list-item span {
            margin-right: auto; }
          .dashboard .dashboard_left ul.dashboard_left_middle li.settings_list-item ~ ol {
            list-style-type: none;
            display: none;
            transition: all 3s; }
          .dashboard .dashboard_left ul.dashboard_left_middle li.settings_list-item.grey ~ ol {
            display: block; }
            .dashboard .dashboard_left ul.dashboard_left_middle li.settings_list-item.grey ~ ol li {
              display: flex;
              justify-content: center; }

.dashboard .dashboard_left ul.dashboard_left_middle li .n_icon {
  margin-right: 1rem; }

.dashboard .dashboard_right .dashboard_right_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

.dashboard .dashboard_right .dashboard_right_top .dashboard_right_profile {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #6A616F; }

.dashboard .dashboard_right .dashboard_right_top .profile_notification_search {
  display: flex;
  align-items: center; }

.dashboard .dashboard_right .dashboard_right_top .profile_notification_search input[type=search] {
  width: 22.6rem;
  height: 4.6rem;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 1rem;
  margin-right: 2rem; }

.dashboard .dashboard_right .dashboard_right_top .profile_notification_search p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #6A616F;
  margin-right: 1rem; }

.dashboard .dashboard_right .dashboard_right_content .dashboard_right_content_primary-pmx {
  height: 22.1rem;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid rgba(201, 197, 198, 0.2);
  border-radius: 1rem;
  margin: 1rem 0 1rem 0;
  display: flex;
  align-items: center;
  position: relative; }

.dashboard .dashboard_right .dashboard_right_content .dashboard_right_content_primary-pmx .level_inputter-pmx {
  position: absolute;
  right: 3rem;
  top: 3rem;
  width: 19.1rem;
  height: 5.6rem;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 21px;
  color: #FFFFFF;
  background: #1CBC52;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.dashboard .dashboard_right .dashboard_right_content .dashboard_right_content_primary-pmx figure {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 4rem; }

.dashboard .dashboard_right .dashboard_right_content .dashboard_right_content_primary-pmx figure img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.dashboard .dashboard_right .dashboard_right_content .dashboard_right_content_secondary-pmx {
  min-height: 45rem;
  background: #FFFFFF;
  border: 1px solid rgba(201, 197, 198, 0.2);
  border-radius: 1rem;
  padding: 4rem; }

.dashboard .dashboard_right .dashboard_right_content .dashboard_right_content_secondary-pmx table {
  width: 100%;
  border-collapse: collapse; }

td, th {
  border-bottom: 1px solid #dddddd;
  text-align: center;
  padding: 1rem;
  /* font-size: */
  font-family: Rubik; }

td {
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.1rem; }

.dashboard_setting {
  flex: 0 1 80%; }
  .dashboard_setting .dashboard_setting_top {
    width: 100%;
    height: 32.7rem;
    background: #fff;
    padding: 20px;
    background: #ffffff;
    border: 1px solid rgba(106, 97, 111, 0.2);
    border-radius: 10px; }
    .dashboard_setting .dashboard_setting_top ul {
      background: rgba(228, 50, 112, 0.04);
      border-radius: 10px;
      width: 100%;
      height: 100%;
      list-style-type: none;
      padding: 10px; }
      .dashboard_setting .dashboard_setting_top ul li {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #6a616f; }
        .dashboard_setting .dashboard_setting_top ul li:first-of-type {
          background: #ffffff;
          border: 1px solid rgba(228, 50, 112, 0.2);
          border-radius: 10px; }
  .dashboard_setting .dashboard_setting_bottom {
    display: flex;
    margin-top: 10px;
    background: #ffffff;
    border: 1px solid rgba(106, 97, 111, 0.2);
    border-radius: 10px;
    overflow: hidden; }
    .dashboard_setting .dashboard_setting_bottom .dashboard_setting_bottom_right,
    .dashboard_setting .dashboard_setting_bottom .dashboard_setting_bottom_left {
      flex: 1;
      min-height: 400px; }
    .dashboard_setting .dashboard_setting_bottom .dashboard_setting_bottom_left {
      border-right: 1px solid rgba(106, 97, 111, 0.2);
      padding: 20px 50px 20px 20px; }
      .dashboard_setting .dashboard_setting_bottom .dashboard_setting_bottom_left form .form_field {
        margin-bottom: 10px; }
        .dashboard_setting .dashboard_setting_bottom .dashboard_setting_bottom_left form .form_field input {
          width: 100%;
          height: 56px;
          background: #ffffff;
          border: 1px solid rgba(106, 97, 111, 0.2);
          box-sizing: border-box;
          border-radius: 10px;
          padding: 10px; }
        .dashboard_setting .dashboard_setting_bottom .dashboard_setting_bottom_left form .form_field label {
          font-family: Rubik;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
          color: #6A616F;
          margin-bottom: 10px;
          display: inline-block; }
        .dashboard_setting .dashboard_setting_bottom .dashboard_setting_bottom_left form .form_field .phone_number_wrapper {
          display: flex;
          align-items: center; }
